@use "./base.scss";
@use "./syncer";

// put your custom CSS here!

// Custom styles below

// Hide "Home" link on the home page itself
[data-slug="index"] .page-title {
  display: none;
}

// Remove image margin on index page
[data-slug="index"] article img {
  margin: 0;
}
