@use "./base.scss";
@use "./syncer";

// put your custom CSS here!

// Custom styles below

// Hide backlinks on index/landing page
[data-slug="index"] .backlinks {
  display: none;
}

// Hide "Home" link on the home page itself
[data-slug="index"] .page-title {
  display: none;
}
