@use "./base.scss";
@use "./syncer";

// put your custom CSS here!

// Replace page title text with logo
.page-title {
  font-size: 0;
  background-image: url("/static/jonokasten-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  min-height: 50px;
  min-width: 200px;
}
