@use "./base.scss";
@use "./syncer";

// put your custom CSS here!

// Custom styles below

// Hide "Home" link on the home page itself
[data-slug="index"] .page-title {
  display: none;
}

// Remove image margin on index page
[data-slug="index"] article img {
  margin: 0;
}

// Hide HR separator on index page (no afterBody content)
[data-slug="index"] .center > hr {
  display: none;
}

// Add HR above footer
footer {
  border-top: 1px solid var(--lightgray);
  padding-top: 1rem;
  margin-top: 2rem;
}
